.feedbackFormButton {
  @apply fixed overflow-hidden left-full bottom-0 text-white bg-emerald font-semibold;
  transition: all .3s ease-out;
  transform: translate3d(-33px,-2px,0) rotate(-90deg);
  transform-origin: top left;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  padding: 5px 12px 46px;
}
