@font-face {
  font-family: 'National2-Regular';
  src: url('/fonts/national2/national2-regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
};

@font-face {
  font-family: 'National2-Medium';
  src: url('/fonts/national2/national2-medium.woff2')
      format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
};

@font-face {
  font-family: 'National2-Bold';
  src: url('/fonts/national2/national2-bold.woff2')
      format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
};
