@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Domaine-Bold';
  src: url('/fonts/domaine/domaine-bold.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
};

