@keyframes shakeX {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

// base
@layer base {
  body {
    @apply bg-white text-typo-paragraph font-primary;
  }
}

// Custom utilities
@layer utilities {
  .hide-scrollbar {
    @include hide-scrollbar;
  }

  .blur {
    filter: blur(1px);
  }

  .no-blur {
    filter: blur(0px);
  }

  .animation-shakeX {
    display: inline-block;
    animation-name: shakeX;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
  }

  .fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
  }

  .fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
  }

  .no-padding {
    padding: 0 !important;
  }

  .no-margin {
    margin: 0 !important;
  }

  .no-hover-bg {
    &:hover {
      background: inherit !important;
    }
  }

  .no-focus-boxShadow {
    &:focus {
      box-shadow: none !important;
    }
  }

  .mobile-view {
    display: inherit;

    @include desktop {
      display: none;
    }
  }

  .desktop-view {
    display: none;

    @include desktop {
      display: inherit;
    }
  }

  .tablet-view {
    display: none;

    @include tablet {
      display: inherit;
    }
  }

  .force-hide {
    display: none !important;
  }
}
